/*===============Common css start bellow=================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.btn-primery{
    padding: 20px 30px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    transition: all linear 0.2s;
}
.btn-primery:hover{
    background: #131313;
}
.btn-primery a{
    color: #FFF;
    font-weight: 600;
}
/*===============Nav css start bellow=================== */
#header{
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 0px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav-content ul {
    display: flex;
}
.nav-content ul li{
   margin: 0px 20px;
}
.nav-content ul li a{
    color: #424242;
    font-size: 18px;
    font-weight: 500;
   
}
.logo a{
    color: #131313;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.banner{
    padding: 70px 0px;
}
.banner-content{
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
}
.banner-tittle{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    padding: 20px 0px;
}
.banner-discription{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}
.banner-img{
    padding-top: 20px;
}
.banner-img img{
    width: 100%;
}
/*===============Team css start bellow=================== */
#team{
    padding: 60px 0px;
}
.team-wrapper{
    display: flex;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 1.5rem;
}
.team-text{
    padding: 0px 70px;
}
.team-big{
    font-size: 30px;
    font-weight: 500;
}
.team-text h3{
    color: #727272;
}
.team-text p{
    color:#727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    padding-bottom: 20px;
}
.team-text h3 span{
    color:#131313;
}
.team-text h4 {
    color:#FF900E;
}

/*===============Fetures css start bellow=================== */
#feturaes{
    padding: 30px 0px;
}
.fetures-text{
    font-size: 30px;
    font-weight: 500;
}
.fetar-text{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0px;
}
.fetures-main{
    display: flex;
    justify-content: space-between;
}
.fetures-img {
    padding: 0px 60px;
    width: 100%;
    position: relative;
}
.year-text{
    width: 342px;
    height: 200px;
    background: #FF900E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: absolute;
    margin: -68px -24px;
    flex-direction: column;

}
.year-text h2{
    color: #FFF;
font-size: 65px;

font-weight: 700;
line-height: 70px; 
}
.year-text h4{
    color: #FFF;
}
.fetures-img img{
    width: 100%;
}
.fetures-text{
    position: relative;
    padding-left: 20px;
}
.fetures-text h3::after{
    position: absolute;
    left: 0;
    content: "";
    width: 5px;
    height: 50px;
    background-color: #FF900E;
}


.card-inner-text{
    padding: 40px 25px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.card-inner-text h4{
    color:  #131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.card-inner-text p{
    color:  #727272;
    font-size: 16px;
    font-weight: 400;

}
/*===============Responsive css start bellow=================== */
/*===============Mobile css start bellow=================== */
@media screen and (max-width:576px) {
    .nav-content {
        flex-direction: column;
    }
    .nav-content ul li {
        margin: 0px 10px;
        margin-top: 20px;
    }
    .logo a {
        font-size: 25px;
    }
    .banner-tittle {
        font-size: 50px;
        padding: 0px 0px;
    }
    .banner {
        padding: 30px 0px;
    }
    .banner-discription {
        margin: 0px 20px;
        margin-top: 10px;
    }
    .team-wrapper {
        flex-direction: column;
    }
    .team-img {
        flex-direction: column;
        display: flex;
        gap: 1.5rem;
    }
    .fetures-main {
        display: block;
    }
    .fetures-text h3::after {
        left: 8px;
    }
    .year-text{
        width: 150px;
        height: 150px;
    }
    .year-text h2{
        font-size: 25px;
    }
    .year-text h4{
        font-size: 14px;
    }

}

/*===============Medium  Device css start bellow=================== */

@media screen and (min-width:576px ) and (max-width:960px){
    .nav-content {
        flex-direction: column;
    }
    .banner {
        padding: 20px 0px;
    }
    .nav-content ul li {
        margin: 10px 50px;
    }
    .fetures-main {
       
        flex-direction: column;
       
       
    }

}



/*===============Common css start bellow=================== */